body {
    font-family: 'Creepster', cursive;
}

#jokeZone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.jokeCard {
    border: black dotted 1px;
    padding: 5px;
    margin: 10px;
    width: 350px; 
}

.margin-left-30 {
    margin-left: 30px;
}